In [ ]:
<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>record_num</th>
      <th>id</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>occupancy_status</th>
      <th>current_status</th>
      <th>bikes_allowed</th>
      <th>headsign</th>
      <th>bearing</th>
      <th>current_stop_sequence</th>
      <th>updated_at</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>56</th>
      <td>57</td>
      <td>y3286</td>
      <td>42.359298</td>
      <td>-71.093620</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>0.0</td>
      <td>15</td>
      <td>2024-07-25 11:57:50-04:00</td>
    </tr>
    <tr>
      <th>64</th>
      <td>65</td>
      <td>y3286</td>
      <td>42.359399</td>
      <td>-71.093570</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>96.0</td>
      <td>15</td>
      <td>2024-07-25 11:58:01-04:00</td>
    </tr>
    <tr>
      <th>72</th>
      <td>73</td>
      <td>y3286</td>
      <td>42.359522</td>
      <td>-71.093811</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>323.0</td>
      <td>15</td>
      <td>2024-07-25 11:58:09-04:00</td>
    </tr>
    <tr>
      <th>80</th>
      <td>81</td>
      <td>y3286</td>
      <td>42.359544</td>
      <td>-71.093862</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>307.0</td>
      <td>15</td>
      <td>2024-07-25 11:58:24-04:00</td>
    </tr>
    <tr>
      <th>88</th>
      <td>89</td>
      <td>y3286</td>
      <td>42.359566</td>
      <td>-71.093920</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>337.0</td>
      <td>15</td>
      <td>2024-07-25 11:58:32-04:00</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2758</th>
      <td>2759</td>
      <td>y3286</td>
      <td>42.341546</td>
      <td>-71.083006</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>0.0</td>
      <td>10</td>
      <td>2024-07-25 13:19:21-04:00</td>
    </tr>
    <tr>
      <th>2765</th>
      <td>2766</td>
      <td>y3286</td>
      <td>42.341546</td>
      <td>-71.083006</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>0.0</td>
      <td>10</td>
      <td>2024-07-25 13:19:21-04:00</td>
    </tr>
    <tr>
      <th>2772</th>
      <td>2773</td>
      <td>y3286</td>
      <td>42.341565</td>
      <td>-71.083056</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>308.0</td>
      <td>10</td>
      <td>2024-07-25 13:19:42-04:00</td>
    </tr>
    <tr>
      <th>2779</th>
      <td>2780</td>
      <td>y3286</td>
      <td>42.341710</td>
      <td>-71.083237</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>0.0</td>
      <td>10</td>
      <td>2024-07-25 13:19:54-04:00</td>
    </tr>
    <tr>
      <th>2786</th>
      <td>2787</td>
      <td>y3286</td>
      <td>42.341730</td>
      <td>-71.083234</td>
      <td>FEW_SEATS_AVAILABLE</td>
      <td>STOPPED_AT</td>
      <td>1</td>
      <td>Harvard</td>
      <td>0.0</td>
      <td>10</td>
      <td>2024-07-25 13:19:59-04:00</td>
    </tr>
  </tbody>
</table>
<p>185 rows Ã— 11 columns</p>
</div>